@import "@angular/material/prebuilt-themes/indigo-pink.css";

h2{
font-size: 16px;
line-height: 19px;
letter-spacing: 0em;
text-align: center;
}
.red{
    color:var(--color-red);
}

.mat-dialog-actions {
    justify-content: center;
    gap: 20px;
  }
  
  