<div class="footer">
      <div class="container footer__container">
        <div class="footer__logo">
            <a href="/"><img src="../../../assets/logo 1.png" > კლინიკა</a>
        </div>
        <div class="footer__cols">               
            <div class="footer__col">
                <div class="footer__col-title"><h4>ინფორმაცია</h4></div>
                    <ul>
                        <li><a href="/">ჩვენს შესახებ</a></li>
                        <li><a href="/">პარტნიორები</a></li>
                        <li><a href="/">ექიმებისთვის</a></li>
                        <li> <a href="/">კლინიკებისთვის</a></li>
                        <li><a href="/">აფთიაქებისთვის</a></li>
                    </ul>
            </div>
            <div class="footer__col">
                <div class="footer__col-title"><h4>პაციენტისთვის</h4></div>
                    <ul>
                        <li><a href="/">ექიმები</a></li>
                        <li><a href="/">კლინიკები</a></li>
                        <li><a href="/">ანოტაციები</a></li>
                        <li><a href="/">ბლოგი</a></li>
                        <li><a href="/">მედია</a></li>
                    </ul>
            </div>
            <div class="footer__col">
                <div class="footer__col-title"><h4>კონტაქტი</h4></div>
                    <ul>
                        <li>სამუშაო დღეები:<br/> ორშ-პარ</li>
                        <li>სამუშაო დრო:<br/> 9:00-17:00</li>
                        <li>იაკობ ნიკოლაძის N 10</li>
                        <li>032 2 100 100</li>
                    </ul>                    
            </div>
            <div class="footer__col">
                <div class="footer__col-title"><h4>გამოგვყევით</h4></div>
                    <ul>
                        <li><a href="/">Facebook</a></li>
                        <li><a href="/">Instagram</a></li>
                        <li><a href="/">Twitter</a></li>
                    </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
       <div class="container">
        <span> copyright</span>
       </div>
    </div>        

