<div class="container">
  <app-sidebar class="app-sidebar grid-item"></app-sidebar>
  <app-user-info-card  class="user-info grid-item"
  *ngIf="user&&userId!==null" [user]="user" [userId]="userId"
  [totalAppointments]="totalAppointments">
  </app-user-info-card>

   <div class="grid-item">
    <div class="card-element left" *ngIf="userRole !== 'admin'&&userRole !=='doctor'">
      <h2>ჩემი ჯავშანი  <span>({{ this.totalAppointments}})</span></h2>          
    </div>
    <app-booking-calendar class="booking-calendar"
    *ngIf="user && userId !== null " [userId]="userId" [appointments]="appointments" ></app-booking-calendar>
  </div>
</div>
