.container{
    display:grid;
    grid-template-columns: 18% 18% 60%;     
    padding:50px 0;
    gap:50px;
}
.left, .left span{
  text-align: left;
  color:var(--color-active);

  font-size: 26px;
  font-weight: 500;
  line-height: 31.2px;
  text-align: left;
  
}

.left span{
  color:var(--color-primary);
  opacity:30%;
}