<div class="user-card">
 
    <div class="card-element">
      <img [src]="'https://localhost:7042' + user?.ImageUrl" alt="Doctor image" class="user-image">
  
      <h4 class="doc-name">{{ user?.Fname }} {{ user?.Lname }}</h4>
      <span><b>{{this.role}} </b></span>
      <!-- <h4>{{user?.Category}}</h4> -->
      <!-- <span *ngFor="let filled of getStars(doctor?.Score); let i = index">
        <i class="star" [class.filled]="filled">&#9733;</i>
      </span> -->
    </div>
    <div class="card-element">
    </div>
    <div class="card-element">
      <h4> პირადი ნომერი</h4>
      <span> {{user?.IdNumber}} </span>
    </div>
    <div class="card-element">
      <h4>Email:</h4>
      <span>{{user?.Email}} </span>
    </div>
    <div class="card-element">
      <a>
        <h4>პაროლის შეცვლა</h4>
      </a>
    </div>
    <div class="card-element">
      <h4> დაჯავშნილია</h4>
      <span> ({{totalAppointments}} )</span>
      <div>
        Total Appointments: {{ totalAppointments }} (Debug: {{ totalAppointments | json }})
      </div>
      
    </div>
  
  </div>