.header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.25rem 0;
  }
  
  .logo {
    display: flex;
    align-items: center;
    color: var(--color-red);
    font-size: var(--fs-5);
    line-height: var(--ln-3);
    letter-spacing: 0.07em;
  }
  
  .logo__image {
    width: 5.625rem;
    margin-right: -1.25rem; 
  }

  .header-content{
    display:flex;
    justify-content: space-evenly;
    align-items:center;
    width: 80%;
  }
  
  .nav {
    border-bottom: 3px solid var(--color-border-light);
  }
  
  .nav__list {
    display: flex;
    justify-content: space-between;
  }
  
  .nav__list > li:first-child > a {
    font-weight: 700;
  }
  
  .nav__item {
    padding: 1.875rem 0; 
    margin-right: 1.875rem; 
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
  }
  
  .nav__item a {
    font-size: var(--fs-3);
    line-height: var(--fs-2); 
    letter-spacing: 0em;
  }
  
  .nav__item:hover,
  .active {
    border-bottom: 3px solid var(--color-active);
  }
  
  .lang-switch {
    background-color: var(--color-background-light);
    padding: 0.625rem 1.25rem; 
    border-radius: 1.875rem;
  }
  
  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg-light);
    padding: 2rem 0;
  }
  
  .search-bar {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info {
    display: flex;
    align-items: center;
  }
  
  .contact-info > div {
    display: flex;
    align-items: center;
    margin-right: 4em; 
  }
  
  .contact-info img {
    margin-right: 1rem; 
    background-color: var(--color-secondary);
    padding: 0.625rem;
    border-radius: 50%;
  }
  
  .contact-info span {
    font-size: var(--fs-3);
    line-height: var(--fs-2); 
    letter-spacing: 0em;
  }
  
  .search {
    display: flex;
    align-items: center;
    flex: 4;
    position: relative;
  }
  
  .search input {
    border: none;
    padding: 1rem 1.5rem;
    margin-right: 1.875rem; 
    border-radius: 1.5rem; 
    width: 100%; 
    height: auto; 
  }
  
  .search button {
    border: none;
    display: flex;
    cursor: pointer;
  }
  
  .search button img {
    background-color: var(--color-primary);
    padding: 0.625rem; 
    border-radius: 50%;
    transition: 0.3s ease-in-out;
  }
  
  .search button img:hover {
    opacity: 0.8;
  }
  
  input:focus {
    outline: 1px solid #18a4e1;
  }
  
  input::placeholder {
    color: var(--color-placeholder);
  }
  
  .no-data {
    position: absolute;
    transform: translate(1.25rem, 2.5rem); 
    color: #ff1493;
    font-size: 0.875rem;
    right: 0;
  }
  
  

  @media (max-width: 1280px) {
    .nav {
      display: none;
    }
    .header{
        justify-content: start;
    }
  }