.user-card {
  display: grid;
  grid-template-columns: 1fr 1.5fr; 
  border: 1px solid var(--color-border-light); 
    box-shadow: 0 0 8px 0 var(--color-border-light); 
  padding: 30px;
  align-items: stretch;
}

.section-1, .section-2 {
  padding:20px;
  text-align:left;
}

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size:18px;
    line-height:21.6px;
  }
 
  
.experience-dates{
    color:var(--color-active);

}

.section-1{
    display:flex;
    align-items:center;
    gap:30px;
    border-right:1px solid var(--color-border-light);
}
.section-1-data{
    display:flex;
    flex-direction:column;
    gap:20px;
}
.section-1-data span{
  color: rgba(5, 51, 84, 0.3);

}

.section-2{
    display:flex;
    flex-direction:column;
}
.doctor-name{
  font-size: 22px;
  line-height: 26.4px;
  text-align: left;  
  margin-bottom:0;
}

.experiences {
  list-style: none;
}

.experience-item h4 {
  margin-top: 0;  
  font-size: 18px;
  line-height: 21.6px;
}
.experience-item span{
  color:var(--color-active);
}