<div class="container">
    <p-toast position="top-left" key="tl"></p-toast>
    <div *ngIf="showEmailInputField"  class="input-group">
      <input type="text" placeholder="Enter email here" [(ngModel)]="Email">
      <i class="pi-circle" (click)="createActivationCode()"></i>
    </div>
    <div *ngIf="showVerifyField" class="input-group">
        <input type="text" placeholder="Enter activation code" [(ngModel)]="userEnteredCode" 
        placeholder="Enter activation code" >      
        <i class="pi-circle" (click)="verifyActivationCode()"></i>  
    </div>
    
    <div *ngIf="isActivationCodeVerified" class="inputs">    
      <input type="password" placeholder="Enter new password" [(ngModel)]="newPassword"
      name="newPassword" #newPasswordRef="ngModel" pattern=".*@7.*" required>
      <div *ngIf="newPasswordRef.errors?.['pattern'] && newPasswordRef.dirty">
        პაროლი უნდა შეიცავდეს "#&64"
      </div>
      <input type="password" placeholder="Confirm new password" [(ngModel)]="confirmNewPassword">     
      <button type="submit" (click)="updatePassword()"> Submit new password</button>
    </div>
  </div>
  