.container {
    height: 50vh;
    display: flex;
    padding:50px 0;
}
.input-group {
    width: 30%;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    height:fit-content;
}
.input-group i {   
    background-color: var(--color-primary);
    color: white; 
    border-radius: 5px;
    height: 50px;
    flex: 0.3;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem; 
}
.input-group input {
    border: none;
    border-radius: 5px;
    height: 50px;
    margin-bottom: 0;
    flex: 2;
}
.input-group input:focus {
    outline: none;
}
.inputs{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:30%;
}