  .user-card{
    flex-direction:row;
  }


  .action-buttons{
    display:flex;
    align-items:center;
    justify-content: start;
    gap:20px;
    margin-top:30px;
    flex-grow:1;
  }
  
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 13px 30px;
    border-radius: 50px;
    font-size:16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .button svg {
    margin-right: 10px; 
  }
  
  .add-button{
    background-color: #3ACF99;
    color:white;
  }
  .add-button:hover{
    background-color: #28cf92;

  }
  .edit-button {
    background-color: #ECF2F8; 
    color: var(--color-active);
  }
  
  .edit-button:hover {
    background-color:  #8fc3f7; 
  }
  
  .delete-button {
    background-color: #FF93A6;
    color:white;
  }
  
  .delete-button:hover {
    background-color: #fb627e;
    color:white;
  }


.active-link{
    color:var(--color-active);
}
.edit-flex{
    display: flex;
    align-items:start;
    gap:5px;
}

.content{
  display:flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  gap:80px;
}
.calendar-container{
  padding:0; 
  margin-top:0;
}

.user-card{
  display: flex;
    align-items: center;
    text-align: center;
    height: auto;
    border-radius: 10px;
    border: 1px solid var(--color-border-light);
    box-shadow: 0 0 8px 0 var(--color-border-light);
    padding: 25px 30px;
    gap: 50px;
}

.section-2,
.section-3{
  align-self: start;
    display: flex;
    flex-direction: column;
    gap: 30px;
}