    .input-overlay{
        align-items: center;
        bottom: 5px;
        height: 50px;
        z-index: 999;
        display: flex;
        justify-content: space-around;
        position: absolute;
        right: 0;
        left: 0;
        height: 50px;
    }
    
    
      .placeholder{
        left: 0;
        position: absolute;
        border-radius: 30px;
        height: 40px;
        width: 200px;
        background-color: white;
        opacity: 1;
    }
    .abs{
        right:10px;
        position:absolute;
    }
    


    .send-code {
        cursor: pointer;
        transform: translateY(-50%);
        position: absolute;
        right: 25px;
        top: 45%;
        border: none;
        background-color: transparent;
    }

    
  .relative{
    position:relative;

  }

  .input-overlay{
    align-items: center;
    z-index: 999;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    left: 0;
    height: 50px;
}


  .placeholder{
    left: 0;
    position: absolute;
    border-radius: 30px;
    height: 40px;
    width: 200px;
    background-color: white;
    opacity: 1;
}
.abs{
    right:10px;
    position:absolute;
}

.spinner{
    position: absolute;
    bottom: 0;
    right: -20px;
    font-size:40px;
    color:#f6099b;
}