<div class="clinic-banner">
    <div class="clinic-banner__overlay">
    </div>
        <div class="clinic-banner__content">
            <h1 class="clinic-banner__title">
                აირჩიე კლინიკა რომელსაც <br>
                შეგიძლია ენდო
            </h1>
            <div class="clinic-banner__location">
                <img src="../../../assets/location-icon.png" alt="location">
                <a href="https://maps.app.goo.gl/PWSGdngxmEJtKkqc8" target="_blank" class="clinic-banner__map-link">
                    იაკობ ნიკოლაძე № 10
                </a>
            </div>    
        </div>           
    </div>
<div class="container flex paddings">
  <app-sidebar class="app-sidebar"></app-sidebar>
  <app-doctor-cards class="full-width"></app-doctor-cards>
</div>



