<div class="panel">
    <div class="reg-cat-doc">
      <div class="burger-icon">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <a routerLink="/addDoctor" routerLinkActive="active-link"
      (click)="alertRole()">რეგისტრაცია</a>
      <a routerLink="/sidebar" routerLinkActive="active-link">კატეგორიები</a>
      <a routerLink="/doctorsList" routerLinkActive="active-link">ექიმები</a>
    </div>
    <div class="switch-roles">
      <a href="/">ექიმი</a>
      <a href="/">მომხმარებელი</a>
      <a href="">ადმინისტრატორი</a>
    </div>
  </div>