.sidebar-title {
  padding: 10px 20px;
}
.sidebar-title h2 {
  font-size: 16px;
  font-weight: bold;
  color: var(--primaryColor);
  text-align: center;
  line-height: 40px;
  border-bottom: 1px solid var(--color-border-light);
}
.doc-category {
  display: flex;
  align-items: center;
  justify-content: senter;
  line-height: 50px;
}
.doc-category a {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.doc-category-i {
  color: var(--secondaryColor);
  padding-right: 30px;
}
.doc-category:hover {
  background: var(--color-border-light);
  color: var(--primaryColor);
}
.doc-category a:hover .doc-category-i {
  color: var(--color-active);
}
.doc-category a:hover .category-count {
  color: var(--color-active);
}

.category-count {
  font-weight: bold;
  margin-right: 20px;
  color: var(--primaryColor);
  opacity: 30%;
  flex: 1;
  text-align: right;
}
.category-name {
  flex: 3;
  text-align: left;
}

.load-more-sidebar:hover {
  background-color: var(--color-border-light);
}

.load-more-sidebar {
  font-size: 14px;
  color: var(--color-active);
  text-align: center;
  line-height: 40px;
}
.load-more-sidebar button {
  color: var(--color-active);
  line-height: 40px;
  border: none;
  background-color: transparent;
  line-height: 16.8px;
  text-align: left;
  padding: 10px;
  width: 80%;
  border-top: 1px solid var(--color-border-light);
  text-align: center;
  cursor: pointer;
}
