.red{
    font-size: 1em;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color:red;
}
.login a{
    color:var(--color-primary);
}


.p-dialog .p-dialog-header .p-dialog-title{
    color:red;
}


.my-custom-dialog .p-dialog-header {
    background-color: navy;
    color: white;
  }
  
  .my-custom-dialog .p-dialog-content {
    background-color: lightgrey;
  }
  
  .my-custom-dialog .p-dialog-footer {
    background-color: grey;
    color: white;
  }
  